.operation{margin: 1.6rem 0 2.4rem;}
.operation td{vertical-align: middle;}
.operation .picbox{width: 600px;}
.operation .article{padding: 0 53px; font-size: 0.7rem; line-height: 27px; color: #313131;}