@charset "UTF-8";
.fullscreenbg{
	position:relative;
	width:100%;
	height:100vh;
	background:url(../img/aboutbg.jpg) fixed no-repeat;
	background-size:cover;
}
.fullscreenbg::before{
	position:absolute;
	content:'';
	top:0;
	left:0;
	background:rgba(0,0,0,0.5);
	width:100%;
	height:100%;
}
.fullscreenbg::after{
	position:absolute;
	content:'';
	width:14%;
	height:1px;
	background:#fff;
	top:30%;
	left:0;
}
.fullscreenbg .title,.fullscreenbg .details{
	position:absolute;
	top:30%;
	transform:translateY(-50%);
	color:#fff;
}
.fullscreenbg .title{
	left:15%;
}
.fullscreenbg .details{
	top:26%;
	width:30%;
	right:20%;
	line-height:2.4;
}
.fullscreenbg .details p{
	font-size:16px;
	line-height:2;
}
.fullscreenbg .en{
	position:relative;
	font-size:0.6rem;
	line-height:0;
	margin-bottom:0.4rem;
}
.fullscreenbg .cn{
	font-size:0.28rem;
	font-weight:100;
}

.details p{
	margin-bottom:0.4rem;
}
.details ul{
	margin:0;
	padding:0;
	font-size:0.18rem;
	transform:translateX(0.4rem);
}
.details ul li{
	position:relative;
	width:1.8rem;
}
.details ul li a{
	color:#fff;
}
.details ul li:hover a{
	color:#ffc95a;
	padding-left:0.1rem;
}
.details ul li::before,.details ul li::after{
	position:absolute;
	content:'';
	top:50%;
	left:0;
	-webkit-transition:all 0.3s ease;
	transition:all 0.3s ease;
}
.details ul li::before{
	width:0.2rem;
	height:1px;
	background:#fff;
	-webkit-transform:translate(calc(-100% - 0.1rem),-1px);
	transform:translate(calc(-100% - 0.1rem),-1px);
}
.details ul li::after{
	width: 7px;
    height: 7px;
    border: solid #fff;
    border-width: 1px 1px 0 0;
    -webkit-transform: translate(calc(-100% - 0.1rem),-50%) rotate(45deg);
    transform: translate(calc(-100% - 0.1rem),-50%) rotate(45deg);
}
.details ul li:hover::before{
	background:#ffc95a;
	width:0.3rem;
	-webkit-transform:translate(-100%,-1px);
	transform:translate(-100%,-1px);
}
.details ul li:hover::after{
	border-color:#ffc95a;
	-webkit-transform: translate(-100%,-50%) rotate(45deg);
    transform: translate(-100%,-50%) rotate(45deg);
}
.leader{
	height:100vh;
	background:#ebebeb;
}
.leader .weui-flex{
	height:100%;
}
.information .name{
	font-size:0.54rem;
	color:#333;
}
.information ul{
	margin:0;
	padding:0;
}
.information ul li{
	font-size:0.15rem;
	color:#333;
	line-height:2.2;
}
.leader .photo{
	flex-direction: column;
	align-items: center;
}
.photo .picture{
	height:70vh;
	position:relative;
}
.photo .picture img{
	max-width:96%;
	max-height: 60vh;
	position:absolute;
	bottom:0;
	left:50%;
	transform:translateX(-50%);
}
.photo .autograph{
	height:30vh;
	position:relative;
	background:#c8a05a;
}
.photo .autograph img{
	max-width:60%;
	max-height:72%;
	position:absolute;
	top:54%;
	left:50%;
	transform:translate(-50%,-50%);
}
.information{
	position:relative;
	padding-top:22vh;
	padding-bottom:2vh;
	left:34%;
	transform:translateX(-50%);
}
.name i{
	display:block;
	width:3.2rem;
	height:0.6rem;
	background:#c8a05a;
	margin-left:0.85rem;
}
.name  p{
	position:absolute;
	top:0.12rem;
	left:0;
}
.information ul{
	margin-top:0.4rem;
}
.introduction{
	margin-top:0.32rem;
	width:64%;
}
.introduction p{
	font-size:14px;
	color:#666;
	line-height:2;
}
.about .hgt{
	height:80vh;
}
.about .instpic{
	width:30%;
}
.about .insttext{
	width:70%;
}
.insttext .title,.insttext .details,.insttext .points{
	position:absolute;
	top:36%;
	transform:translateY(-50%);
	color:#333;
}
.insttext .points{
	top:64%;
	right:15%;
	width:64%;
	font-size:0.24rem;
	letter-spacing:2px;
}
.insttext .title{
	left:10%;
}
.insttext .details{
	top:34%;
	width:50%;
	right:15%;
	line-height:2.4;
	color:#666;
	letter-spacing:1px;
}
.insttext .en{
	position:relative;
	font-size:0.6rem;
	line-height:0;
	margin-bottom:0.4rem;
}
.insttext .cn{
	font-size:0.28rem;
	font-weight:100;
}
.insttext .points::before,.insttext .points::after{
	position:absolute;
	content:'';
	width:calc(100% + 40px);
	height:1px;
	background:#666;
}
.insttext .points::before{
	top:0;
	left:0;
	transform:translate(-46px,-50px);
}
.insttext .points::after{
	bottom:0;
	right:0;
	transform:translate(84px,50px);
}
.inst1 .points span{
	color:#54973A;
}
.inst2 .points span{
	color:#c8a05a;
}
.inst3 .points span{
	color:#FF8D26;
}
.inst4 .points span{
	color:#33a1dc;
}